<ion-view view-title="Alti-World">
  <ion-content>
   
   <div class="tab-container">
   	<div class=" tab" ng-class="vm.getLikeClass('around')">
   		<a href="#" class="tab-content" ng-click="vm.showPost()">
    		<img src="../../../img/posts_icon.png" alt="" />Around Us
    	</a>
    </div>
    <div class="tab" ng-class="vm.getLikeClass('pool')">
    	<a href="#" class="tab-content" ng-click="vm.showPool()">
    		<img src="../../../img/navigation_icon.png" alt="" />Carpool
    	</a>
    </div>
   </div>
   <!-- first Screen-->
   <div class="content-area" ng-if="vm.showPostTab">
   	<div class="feedbox-out">
    	<textarea placeholder="Whats new around..?" class="feedbox" ng-model="vm.feed"></textarea>
        <button class="post-btn" ng-click="vm.postFeed()">Post</button>
    </div>
     
   	<div class="post-cover" ng-repeat="post in vm.posts">
   		<div class="person-name">
    		{{post.name}}
    	</div>
    	<div class="feedpost">
        	{{post.info}}
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    
   </div>
   
   <!-- Login Screen-->
   <!--<div class="content-area login">
   	<label class="form-lbl">Login ID</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Password</label>
    <input type="password" class="form-txtbox">
    <button type="submit" class="form-sbmt">Login</button>
   </div>-->
   
   <!-- Second Screen-->
   <div class="content-area form" ng-if="vm.showPoolTab">
   	<a href="" class="addpool" ng-click="vm.addPool()"></a>
   	<div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Santosh</td>
                    <td>Silk Board</td>
                    <td>09:45 am</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - Bommanahalli<br>
        Contact - 9538836XXX<br>
        Number of seat - 3
    </div>
    
    <div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Varun</td>
                    <td>Indira Nagar</td>
                    <td>06:05 pm</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - EC Office Bangalore<br>
        Contact - 9538836XXX<br>
        Number of seat - 1
    </div>
    
    <div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Vikrant</td>
                    <td>Banashankari</td>
                    <td>07:45 pm</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - EC Office Bangalore<br>
        Contact - 9538836XXX<br>
        Number of seat - 2
    </div>
    
    <div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Manjunath</td>
                    <td>Nagarbhavi</td>
                    <td>05:45 pm</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - ETV Office Bangalore<br>
        Contact - 9538836XXX<br>
        Number of seat - 4
    </div>
   </div>
  </ion-content>
</ion-view>