<ion-view view-title="Alti-World">
  <ion-content>
   
   <div class="tab-container">
   	<div class=" tab">
   		<a href="#" class="tab-content">
    		<img src="../../../img/posts_icon.png" alt="" />Around Us
    	</a>
    </div>
    <div class="tab active">
    	<a href="#" class="tab-content">
    		<img src="../../../img/navigation_icon.png" alt="" />Carpool
    	</a>
    </div>
   </div>
   <!-- first Screen-->
   <!--<div class="content-area">
   	<div class="feedbox-out">
    	<textarea placeholder="Whats new around..?" class="feedbox"></textarea>
        <button class="post-btn">Post</button>
    </div>
     
   	<div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	There is heavy traffic in Silk-Board, try to avoid this route.
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    <div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	<img src="../../../img/87357.jpg" />
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    <div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	There is heavy traffic in Silk-Board, try to avoid this route.
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    <div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	There is heavy traffic in Silk-Board, try to avoid this route.
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
   </div>-->
   
   <!-- Third Screen-->
   <!--<div class="content-area form">
   	<label class="form-lbl">Name</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Employee id</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Starting point</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Destination</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Number of seats</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Contact number</label>
    <input type="text" class="form-txtbox">
    <button type="submit" class="form-sbmt">Submit</button>
   </div>-->
   
   <!-- Login Screen-->
   <!--<div class="content-area login">
   	<label class="form-lbl">Login ID</label>
    <input type="text" class="form-txtbox">
    <label class="form-lbl">Password</label>
    <input type="password" class="form-txtbox">
    <button type="submit" class="form-sbmt">Login</button>
   </div>-->
   
   <!-- Second Screen-->
   <div class="content-area form">
   	<a href="#" class="addpool"></a>
   	<div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Santosh</td>
                    <td>Silk Board</td>
                    <td>09:45 am</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - Bommanahalli<br>
        Contact - 9538836XXX<br>
        Number of seat - 3
    </div>
    
    <div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Varun</td>
                    <td>Indira Nagar</td>
                    <td>06:05 pm</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - EC Office Bangalore<br>
        Contact - 9538836XXX<br>
        Number of seat - 1
    </div>
    
    <div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Vikrant</td>
                    <td>Banashankari</td>
                    <td>07:45 pm</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - EC Office Bangalore<br>
        Contact - 9538836XXX<br>
        Number of seat - 2
    </div>
    
    <div class="card-container">
    	<div class="card-head">
        	<table>
            	<tr>
                	<td>Manjunath</td>
                    <td>Nagarbhavi</td>
                    <td>05:45 pm</td>
                </tr>
            </table>
        </div>
        Employee ID - 8890<br>
        Location - ETV Office Bangalore<br>
        Contact - 9538836XXX<br>
        Number of seat - 4
    </div>
   </div>
  </ion-content>
</ion-view>