<ion-view view-title="Alti-World">
  <ion-content>
   
   <div class="tab-container">
   	<div class=" tab active">
   		<a href="#" class="tab-content">
    		<img src="../../../img/posts_icon.png" alt="" />Around Us
    	</a>
    </div>
    <div class="tab">
    	<a href="#" class="tab-content">
    		<img src="../../../img/navigation_icon.png" alt="" />Carpool
    	</a>
    </div>
   </div>
   
   <div class="content-area">
   	<div class="feedbox-out">
    	<textarea placeholder="Whats new around..?" class="feedbox"></textarea>
        <button class="post-btn">Post</button>
    </div>
     
   	<div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	There is heavy traffic in Silk-Board, try to avoid this route.
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    <div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	<img src="../../../img/87357.jpg" />
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    <div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	There is heavy traffic in Silk-Board, try to avoid this route.
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
    <div class="post-cover">
   		<div class="person-name">
    		Santosh Kumar
    	</div>
    	<div class="feedpost">
        	There is heavy traffic in Silk-Board, try to avoid this route.
    	</div>
    	<div class="like-sec">
    		<a href="#" class="like">
        	</a>
        	<div class="post-head">
            	Traffic
        	</div>
            <a href="#" class="share">
        	</a>
    	</div>
   	</div>
   </div>
  </ion-content>
</ion-view>